apiVersion: apps/v1
kind: Deployment
metadata:
  name: example-deploy
  labels: 
    app: example-app
  annotations: 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: example-app
  template:
    metadata:
      labels:
        app: example-app
    spec:
      containers:
      - name: example-app
        image: mkcsas/oqtane-app-web:3
        #imagePullPolicy: Always
        ports:
        - containerPort: 5999